.trapezoid {
    border-bottom: 50px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 80%;
    opacity: .3;
    filter: drop-shadow(0px 128px 101px rgba(120,103,103,0.38));
-webkit-filter: drop-shadow(0px 128px 101px rgba(120,103,103,0.38));
-moz-filter: drop-shadow(0px 128px 101px rgba(120,103,103,0.38));
  }
 /* ghế thường  */
.ghe{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(123, 123, 123);
}

.gheDaDat{
    background-color: rgb(232,76,76);
    cursor: no-drop;
}
.gheDangDat{
    background-color: rgb(18, 176, 18);
}
.gheVip{
    background-color: rgb(228,74,8);
}